body {
    overflow: hidden;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#gameMap {
    background-image: url('./assets/gameMap.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}