* {
    font-size: large;
}

body {
    overflow: hidden;
}

.bg-color {
    background-image: url(./assets/mainMenu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: brown;
}

.interface {
    padding: 5px; padding-left: 10px; padding-right: 10px; background-color: brown; color: white; width: 150px;
}

.interface:hover {
    cursor: pointer;
}

.map-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

#gameMap {
    background-image: url('./assets/gameMap.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}